* {
    background-color: rgb(221, 221, 142);
    font-family:'Courier New', Courier, monospace
}

.rock-paper-scissors {
    padding: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.results {
    display: flex;
    justify-content: center;
    align-items: space-between;
    gap: 30px;
}

.result {
    font-size: 40px;
    font-weight: 900;
    width: 300;
    height: auto;
}

#reset {
    visibility: hidden;
    width: 200px;
    height: auto;
    font-size: 20px;
}

